.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: center;
  position: sticky;
  margin-bottom: 20px;
  padding: 20px;
  background: darkslateblue;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

button {
  margin-left: auto;
}

h1 {
  margin: 0;
}