<app-header />
<div class="landing">
  <h1><b>Take your links to the next level!</b></h1>
  <div class="description">
    <p>
      Create your own personal links composed by your selected username and
      the name that you want to give to your link. Then, share them with your community
      or with your friends!
    </p>
    <h2><b>Manage your links</b></h2>
    <img ngSrc="assets/images/img.png" alt="Example dashboard" height="400" width="600">
    <p>
      In your dashboard, you can manage your links by editing them, deleting them or by creating new ones.
      You can also copy the full link path to your clipboard by clicking on the copy button.
    </p>
  </div>
</div>
