<div id="main-container">
@for (link of links; track $index) {
  <div class="link-component">
    <div class="link-container">
      <h3>{{ link.owner }}/{{link.name}}</h3>
      <button class="copyButton" (click)="copyLink(link)">
        <img ngSrc="assets/images/clipboard-copy.svg" alt="Copy custom link" height="24" width="24">
      </button>
    </div>
    <div class="link-container">
      <p class="url">{{ link.url }}</p>
      <div class="link-buttons">
        <button class="editButton" (click)="onOpenModal(link, 'edit')" >
          <img ngSrc="assets/images/square-pen.svg" alt="Edit link" height="24" width="24">
        </button>
      <button class="deleteButton" (click)="deleteLink(link.name)">
        <img ngSrc="assets/images/trash-2.svg" alt="Delete link" height="24" width="24">
      </button>
      <button type="button" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button>
      </div>
    </div>
  </div>
}
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        holaaaaaa test test
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
