.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border: 2px solid antiquewhite;
  border-radius: 10px;
}

.login-components {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
