<app-header />
@if (authService.currentUserSig() === null) {
  <div>
    <span routerLink="/register">Create an account</span> or <span routerLink="/login">login</span> to access your dashboard
  </div>
} @else if (authService.currentUserSig()) {
  <div class="dashboard-container">
    <h2>{{ authService.currentUserSig()?.username }}'s dashboard</h2>
    <button class="createButton">
      <img ngSrc="assets/images/plus.svg" alt="Create link" height="24" width="24">
    </button>
  </div>
  <app-link />
}
