.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border: 2px solid antiquewhite;
  border-radius: 10px;
}

.register-components {
  display: flex;
  flex-direction: column;
  margin: 5px;
}