<div class="register-page">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-form">
    <h2>Register</h2>
    <div class="register-components">
      <label>Username</label>
      <input type="text" placeholder="Username" formControlName="username" />
    </div>
    <div class="register-components">
      <label>Email</label>
      <input type="email" placeholder="Email" formControlName="email" />
    </div>
    <div class="register-components">
      <label>Password</label>
      <input type="password" placeholder="Password" formControlName="password" />
    </div>
    <div class="register-components">
      <button type="submit">Create account</button>
    </div>
    <div class="login-components">
      <a routerLink="/login">Log in</a>
    </div>
  </form>
</div>
